@page
@model WebUI.Pages.Todo.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TodoList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoList.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoList.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoList.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoList.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoList.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoList.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoList.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoList.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoList.Modified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoList.Modified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoList.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoList.ModifiedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TodoList.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
